<div class="home">
    <div class="hero">
        <div class="overlay"></div>
        <div class="content">
            <div class="band-title">
                <h1>Bahía Estelar</h1>
                <p class="slogan">Música en movimiento</p>
            </div>
            <div class="social-buttons">
                <a href="https://www.instagram.com/bahiaestelar/" target="_blank" class="btn">
                    <img src="assets/icons/ig.svg" alt="Instagram" class="icon">
                </a>
                <a href="https://www.facebook.com/bahiaestelar/" target="_blank" class="btn">
                    <img src="assets/icons/fb.svg" alt="Facebook" class="icon">
                </a>
                <a href="https://www.youtube.com/channel/UCEzoSNasgdukIhqVIwaObCg" target="_blank" class="btn">
                    <img src="assets/icons/yt.svg" alt="YouTube" class="icon">
                </a>
                <a href="https://open.spotify.com/intl-es/artist/0fb4tDAQwYocMSMGbQsLok?si=dLVPdFETSMqoEcvyLxCygA" target="_blank" class="btn">
                    <img src="assets/icons/sp.svg" alt="Spotify" class="icon">
                </a>
            </div>
        </div>
    </div>
</div>